:root {
  --primary: #292929;
  --bg-1: #55a7ce;
  --bg-2: #007398;
  --accent: #55a7ce;
  --accent2: #6ec1e4;
  --accent3: #f8485e;
  --accent4: #f7a400;
  --accent5: #cc8b0a;
}

.light {
  --primary: hsl(30, 6%, 14%);
  --bg-1: hsl(0, 80%, 90%);
  --bg-2: hsl(214, 45%, 89%);
}

* {
  margin: 0;
  box-sizing: inherit;
  color: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  color-scheme: dark;
  color: var(--primary);
  /* background-image: linear-gradient(to top right, var(--bg-2), var(--bg-1)); */
  background-color: var(--bg-1);
  min-height: 100dvh;
  overflow: hidden;
}
button {
  /* background-image: linear-gradient(
    to top right,
    var(--accent),
    var(--accent2)
  ); */
  background-color: var(--accent2);
  border: none;
  border-radius: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  font-size: 2rem;
}

input,
button {
  font-size: 2rem;
  font-family: inherit;
  z-index: 10;
}
button {
  cursor: pointer;
}

.new-word__form--wrapper {
  display: flex;
  gap: 0.5rem;
}

.new-word__input {
  letter-spacing: 5px;
  padding-left: 10px;
  background-color: var(--bg-1);
  border: 1px solid var(--primary);
  border-radius: 3px;
}

#player-name {
  outline: none;
  border: none;
  background: transparent;
  text-align: center;
}

.points {
  position: relative;
}

.points--word {
  position: absolute;
  bottom: -1.25rem;
  left: -1rem;
  font-size: 1.5rem;
}

.lantern__container {
  display: grid;
  place-content: center;
  position: relative;
  width: 50rem;
  height: 40rem;
  /* border: 2px solid green; */
  margin: 4rem auto;
  margin-top: -3rem;
  transform: translateX(2rem);
}

.lantern__el {
  position: absolute;
  /* background-color: var(--accent4); */
  background-image: radial-gradient(var(--accent4) 50%, var(--accent5));
  border-radius: 2px;
}

.lantern--0 {
  position: absolute;
  bottom: 0;
  height: 30rem;
  width: 20rem;
  border: 0.5rem solid var(--primary);
  transform: rotate(12deg);
  border-right: none;
  border-top: 0.2rem solid var(--primary);
  border-radius: 90% 10rem 70% 15rem;
}

.lantern--0::before {
  position: absolute;
  content: '';
  height: inherit;
  width: inherit;
  background-image: inherit;
  left: 3rem;
  height: 30rem;
  width: 17rem;
  border: 0.5rem solid var(--primary);
  border-right: none;
  border-top: 0.2rem solid var(--primary);
  border-radius: 120% 7rem 60% 15rem;
  transform: rotate(0deg);
}

.lantern--0::after {
  position: absolute;
  content: '';
  height: inherit;
  width: 15rem;
  background-image: inherit;
  right: -6rem;
  border-radius: 70% 8rem 8rem 50%;
  transform: rotate(-7deg);
  border: 0.5rem solid var(--primary);
  border-top: 0.3rem solid var(--primary);
  border-right: 0.4rem solid var(--primary);
}

.lantern--1 {
  position: absolute;
  bottom: -1.5rem;
  right: 7rem;
  height: 30rem;
  width: 20rem;
  border: 0.5rem solid var(--primary);
  transform: rotate(-8deg);
  border-left: none;
  border-top: 0.2rem solid var(--primary);
  border-radius: 10rem 90% 70% 15rem;
}

.lantern--1::before {
  position: absolute;
  content: '';
  height: inherit;
  width: inherit;
  background-image: inherit;
  left: 0rem;
  height: 30rem;
  width: 17rem;
  border: 0.5rem solid var(--primary);
  border-left: none;
  border-top: 0.2rem solid var(--primary);
  border-radius: 7rem 90% 13rem 40%;
  transform: rotate(0deg);
}

.lantern--1::after {
  position: absolute;
  content: '';
  height: inherit;
  width: 16rem;
  background-image: inherit;
  right: 8rem;
  border-radius: 60% 70% 11rem 50%;
  transform: rotate(10deg);
  border: 0.4rem solid var(--primary);
  border-top: 0.3rem solid var(--primary);
  border-right: 0.4rem solid var(--primary);
}

.lantern--2 {
  height: 5rem;
  width: 8rem;
  top: 10.25rem;
  left: 14.5rem;
  border: 0.2rem solid var(--primary);
  border-radius: 4rem 100% 0 0;
  z-index: -1;
}

.lantern--2::after {
  content: '';
  position: absolute;
  border: inherit;
  left: 7.5rem;
  bottom: 0;
  width: 3rem;
  height: 6.66rem;
  background-image: radial-gradient(#086936 30%, #064423);
  border-radius: 100% 20% 30% 0;
}
.lantern--2::before {
  content: '';
  position: absolute;
  height: inherit;
  width: inherit;
  background-image: inherit;
  border: inherit;
  border-radius: 100% 8rem 0 0;
  left: 10.5rem;
  top: 0.25rem;
}

.lantern--3 {
  width: 8rem;
  height: 8rem;
  top: 17rem;
  left: 8.5rem;
  background-image: radial-gradient(#463b3b, var(--primary));
  clip-path: polygon(33% 0, 100% 100%, 0 90%);
  border-radius: 5rem 0 1rem 1rem;
  border: 0.75rem solid black;
}
.lantern--4 {
  width: 8rem;
  height: 8rem;
  top: 17.5rem;
  left: 25rem;
  background-image: radial-gradient(#463b3b, var(--primary));
  clip-path: polygon(66% 0, 100% 95%, 0 100%);
  border-radius: 0 5rem 1rem 1rem;
  border: 0.75rem solid black;
}
.lantern--5 {
  width: 6rem;
  height: 5rem;
  top: 25.5rem;
  left: 18rem;
  background-image: radial-gradient(#463b3b, var(--primary));
  clip-path: polygon(0 0, 100% 5%, 50% 100%);
  border-radius: 5px;
  border: 0.75rem solid black;
}
.lantern--6 {
  width: 27.5rem;
  height: 12rem;
  top: 26rem;
  left: 6.75rem;
  border-radius: 0 0 105% 100%;
  background-image: radial-gradient(#463b3b 10%, var(--primary) 60%);
  rotate: 2deg;
  clip-path: polygon(
    0 50%,
    30% 60%,
    29.5% 76%,
    39% 78%,
    38.75% 60%,
    45% 60%,
    45% 80%,
    57% 78%,
    56.6% 62%,
    100% 50%,
    100% 100%,
    75% 100%,
    75.4% 80%,
    66% 83%,
    66.2% 100%,
    48% 100%,
    48.4% 90%,
    37% 90%,
    37.4% 100%,
    24% 100%,
    24.4% 83%,
    15% 80%,
    15% 100%,
    0 100%
  );
}

.lantern--7 {
  width: 70rem;
  height: 40rem;
  inset: 50%;
  translate: -55% -37%;
  z-index: -5;
  /* background-image: radial-gradient(var(--accent3), transparent 95%); */
  background-image: conic-gradient(
    var(--accent3) 10%,
    transparent 10%,
    transparent 20%,
    var(--accent3) 20%,
    var(--accent3) 25%,
    transparent 25%,
    transparent 42%,
    var(--accent3) 42%,
    var(--accent3) 52%,
    transparent 52%,
    transparent 66%,
    var(--accent3) 66%,
    var(--accent3) 67%,
    transparent 67%,
    transparent 70%,
    var(--accent3) 70%
  );
  border-radius: 100%;
  filter: blur(10px);
}
/*
.lantern--8 {
  width: 3rem;
  height: 9rem;
  top: 15rem;
  right: 8rem;
  border-top-right-radius: 100%;
  border-right: 0.5rem solid var(--primary);
  border-top: 0.3rem solid var(--primary);
  background-color: transparent;
}
.lantern--9 {
  width: 2rem;
  height: 11rem;
  top: 26rem;
  right: 14rem;
  border-top-left-radius: 70%;
  border-left: 0.5rem solid var(--primary);
  border-top: 0.3rem solid var(--primary);
  background-color: transparent;
}
.lantern--10 {
  width: 2rem;
  height: 11rem;
  top: 26rem;
  right: 10.9rem;
  border-top-right-radius: 70%;
  border-right: 0.5rem solid var(--primary);
  border-top: 0.3rem solid var(--primary);
  background-color: transparent;
} */

.game-won,
.game-over {
  font-size: 12rem;
  text-align: center;
  color: var(--accent3);
  text-shadow: 2px 2px 5px var(--accent5);
  animation: down 400ms ease-out 100ms forwards;
  transform: translateX(-2rem);
}

.game-over {
  font-size: 12rem;
  rotate: 13deg;
}

@keyframes down {
  0% {
    rotate: 0;
    /* opacity: 0; */
    scale: 2;
  }
  10% {
    /* opacity: 1; */
  }
  80% {
    scale: 0.9;
  }
  100% {
    scale: 1;
    rotate: -10deg;
  }
}

.word__container {
  margin: 1rem auto;
  text-align: center;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  gap: 01rem;
}

.word__letter--container {
  width: 5rem;
  height: 5rem;
  border-bottom: 2px solid var(--primary);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.word__letter--space {
  border-bottom: 2px solid transparent;
}

.keyboard__container {
  text-align: center;
  margin: 0 auto;
}

.btn--letter {
  position: relative;
  margin: 0.25rem;
  width: 5rem;
  height: 5rem;
  font-size: 2.75rem;
  /* background-color: #616161; */
  border: none;
  border-radius: 3px;
  transition: scale 200ms ease-in;
}
.btn--letter:hover {
  background-color: var(--accent);
}
.btn--letter:active {
  scale: 1.1;
}

.strikeout {
  scale: 0.9;
  opacity: 0.8;
  position: relative;
  overflow: hidden;
  cursor: default;
  background-color: var(--accent);
}
.strikeout::after {
  content: '';
  height: 5px;
  width: 7rem;
  background-color: var(--accent3);
  rotate: -45deg;
  position: absolute;
  top: 44%;
  left: -3%;
  animation: left-to-right 500ms ease-out forwards;
}
.strikeout:hover {
  background-color: var(--accent);
}

.strikeout:active {
  scale: 0.9;
}

.hidden {
  display: none;
}

@keyframes left-to-right {
  0% {
    transform: translate(-600%, -100%);
  }
  100% {
    transform: translate(-10%, -100%);
  }
}
